.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-header img {
  height: 47px;
  margin-top: 4px;
  margin-left: 25%;
}

.text-stories{
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  font-weight: 700;
  color: #171717;
  margin-left: 7px;
  margin-right: 7px;
}

.stories {
  display: flex;
  overflow: scroll;
}

.stories .img-box{
  margin-left: 7px;
  margin-right: 12px;
  background-image: url('../../assets/assets/instagram-bg-color.jpg');
  background-size: contain;
  border-radius: 50%;
  padding: 2px;
}

.stories img{
  width: 50px;
  max-width: none;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  margin-bottom: -3px;
}

.stories p {
  font-size: 11px;
  text-align: center;
  margin: 4px 0px 0px 0px;
  font-weight: 500;
  color: #383a3e;
}

.add_story{
  position: relative;
  margin-left: 7px;
  margin-right: 12px;
  border-radius: 50%;
  padding: 2px;
}

.add_story ion-icon{
  position: absolute;
  bottom: 1px;
  right: 1px;
  border-radius: 50%;
  background-color: white;
}

.hr {
  height: 2px !important;
  width: 100% !important;
  background: #d5d5d5 !important;

}

ion-avatar {
  background-image: url('../../assets/assets/instagram-bg-color.jpg');
  background-size: contain;
  padding: 2px;
  margin: 5px;
  height: 35px;
  width: 35px;
}

ion-avatar img {
  border: 2px solid white;
}

ion-label {
  font-size: 14px !important;
  font-weight: 700;
  color: #1e2023 !important;
  margin-left: 5px;
}

.post_img {
  width: 100%;
}

.flex-button {
  display: flex;
  justify-content: space-between;
}

.flex-button ion-icon {
  font-size: 26px;
  margin: 4px;
  color: #86888F;
}

.insta-text {
  font-size: 13px;
  margin : 0px 6px 4px 6px;
}